* {
  margin: 0;
  font-family: verdana;
  color: white;
  font-weight: normal;
}

body {
  background: black;
}

header h1 {
  text-align: center;
  font-size: 50px;
}

.video-section {
  padding-top: 40px;
}

.video-section .download-link {
  color: Aquamarine;
  font-size: 16px;

  display: block;
  text-align: center;
}

.video-section video {
  display: block;
  margin: 30px auto;
}

.photo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-section h2 {
  font-size: 42px;
  font-weight: 300;

  padding-top: 40px;
}

.photo-section p {
  font-size: 21px;
  color: grey;

  padding-top: 40px;
}

.photo-section img {
  max-width: 70%;

  padding-top: 40px;
}

.coming-soon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coming-soon img {
  padding-top: 40px;
}

.coming-soon h2 {
  padding-top: 40px;
  font-size: 42px;
  font-weight: 300;
}

.coming-soon .download-link {
  color: Aquamarine;
  font-size: 16px;

  padding-top: 40px;
}
